@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos gerais
/* 2. Navbar
/* 3. Loading
/* 4. Container
/* 5. State Select
/* 6. Status
/* 7. Data Box
/* 8. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

[data-theme="light"] {
	--clr-background:#E3FEF7;
	--clr-font:#111111;
    --clr-card:#E9F8F9;
    --clr-switch-track:#AABBCC;
    --clr-link:#3333FF;

    --clr-confirmed:#111111;
    --clr-deaths:#111111;
    --clr-vaccinated-1:#111111;
    --clr-vaccinated-2:#111111;

	--ff: "Poppins", sans-serif;
    --ts-caption: 600 1.8rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(51, 51, 51, 20%);
}

[data-theme="dark"] {
	--clr-background:#003C43;
	--clr-font:#FCDC2A;
    --clr-card:#135D66;
    --clr-switch-track:#95877A;
    --clr-link:#FCDC2A;

    --clr-confirmed:#FCDC2A;
    --clr-deaths:#FCDC2A;
    --clr-vaccinated-1:#FCDC2A;
    --clr-vaccinated-2:#FCDC2A;
    
	--ff: "Cairo", sans-serif;
    --ts-caption: 600 1.8rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(221, 221, 221, 5%);
}

/**********************************/
/* 1. Estilos gerais
/**********************************/
.html{
    font-size: 62.5%;
    font-family: var(--ff);
    color: var(--clr-font);
    transition: var(--transition);
}

.body{
background-color: var(--clr-background);
transition: var(--transition);

}

.section{
    background-color: var(--clr-card);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
    padding: 1.6rem;
    border-radius: 1rem;
    cursor: pointer;
}
/**********************************/
/* 2. Navbar
/**********************************/
.navbarMeta{
    background-color: var(--clr-card);
    transition: var(--transition);
    min-height: 4.5rem;
    padding: 1.6rem;
    box-shadow: var(--shadow-card);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    transition: var(--transition);
}

.switch{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.switch__track{
    background-color: var(--clr-switch-track);
    display: block;
    height: 1rem;
    width: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 0 .2rem;
}

.switch__track::before{
    content: "";
    background-color: var(--clr-font);
    transition: var(--transition);
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    position: relative;
    left: 0;
}

.switch__track--dark::before{
    left: 2rem;
}


/**********************************/
/* 3. Loading
/**********************************/
.loading{
    position: fixed;
    background-color: var(--clr-background);
    transition: var(--transition);
    width: 100vw;
    height: 100vh;
    font-size: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loading__spinner{
    animation: spin 2s infinite linear;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.loading--hide{
    visibility: hidden;
    opacity: 0;
}


/**********************************/
/* 4. Container
/**********************************/

/**********************************/
/* 5. State Select
/**********************************/
.state-select{
    font: var(--ts-normal-semibold);
    background-color: var(--clr-card);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
    border-radius: 1rem;
    position: relative;
}

.state-select-toggle{
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.state-select-toggle__icon{
    transition: var(--transition);
}

.state-select-toggle__icon--rotate{
    transform: rotate(-180deg);
}

.state-select-list{
    max-height: 30rem;
    overflow-y: scroll;
    border-radius: 1rem;
    padding: 1.6rem;
    position: absolute;
    width: 100%;
    background-color: var(--clr-card);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
    top: calc(100% + 1.5rem);
    visibility: hidden;
    opacity: 0;
}

.state-select-list--show{
    visibility: visible;
    opacity: 1;
    top: calc(100% + .75rem);
}

.state-select-list__search{
    background-color: var(--clr-background);
    transition: var(--transition);
    color: var(--clr-font);
    padding: 1.6rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    width: 100%;
}

.state-select-list__search::placeholder{
    color: var(--clr-font);
    opacity: .6;
    transition: var(--transition);
}

.state-select-list__item{
    padding: 1.6rem;
    color: var(--clr-link);
    cursor: pointer;
}

.state-select-list__item:hover{
    color: var(--clr-card);
    background-color: var(--clr-link);
}

.state-select-list__item--hide{
    display: none;
}

@media screen and (min-width: 960px){
    .state-select{
        grid-column: 1 / -1;
    }
}

/**********************************/
/* 6. Status
/**********************************/
.status{
    min-height: 1rem;
    display: flex;
    align-items: center;
}

.status__icon{
    font-size: 3.6rem;
    margin-right: .8rem;
}

.info h2{
    font: var(--ts-caption);
    text-transform: uppercase;
}

.status__icon--confirmed, .info__total--confirmed{
    color: var(--clr-confirmed);
    transition: var(--transition);
}

.status__icon--deaths, .info__total--deaths{
    color: var(--clr-deaths);
    transition: var(--transition);
}

.status__icon--vaccinated-1, .info__total--vaccinated-1{
    color: var(--clr-vaccinated-1);
    transition: var(--transition);
}

.status__icon--vaccinated-2, .info__total--vaccinated-2{
    color: var(--clr-vaccinated-2);
    transition: var(--transition);
}
/**********************************/
/* 7. Data Box
/**********************************/
.data-box__header{
    font: var(--ts-caption);
    text-transform: uppercase;
   
}

.data-box__description{
    font: var(--ts-normal-text);
}

@media screen and (min-width: 960px){
    /*.data-box--30{
        grid-column: span 2;
        grid-row: span 2;
    }*/

    /*.data-box--deaths{
        grid-column: span 2;
        grid-row: span 2;
    }

    .data-box--confirmed{
        grid-column: span 2;
        grid-row: span 2;
    }

    .data-box--vaccinated-abs{
        grid-column: span 2;
        grid-row: span 2;
    }*/

    
}




